body {
    background-image: url('../../../assets/SWBackground.jpg');
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    height: 100vh;

}