body {
    margin: 0;
    padding: 0;
    background-image: url('../../../assets/SWBackground.jpg');
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
}

.puntos {
    font-family: 'Jersey 10 Charted';
    font-size: xx-large;
    color: white;
    margin-top: 20px;
  }

  .backgroundYellow {
    background-color: #EFC206;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    width: 100px;
    color: #fff;
    margin-left: 10px;
  }

  .puntos {
    font-family: 'Jersey 10 Charted';
    font-size: xx-large;
    color: white;
    margin-top: 20px;
  }
  
  .arrowLeft {
    color: #FFF;
    background-color: #EFC206;
    margin-left: 20px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  
  }