<body>
    <button class="arrowLeft" (click)="goHome()">
        <i class="fas fa-arrow-left"></i>
      </button>
      
    <div class="container">
        <div class="carta">
        <img [src]="cartaActual.imagenUrl" [alt]="'Carta ' + cartaActual.valor" class="carta-img">
        </div>
        <div class="puntos">
            Puntos: {{ puntos }}
        </div>
        <div class="botones">
        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundYellow" (click)="eleccionMayor()">Mayor</button>
        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundYellow" (click)="eleccionMenor()">Menor</button>
        </div>
    </div>
</body>