body {
  background-image: url('../../../assets/SWBackground.jpg');

}
.ruleta {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  height: 100vh;
}
.ruleta-body {
  position: absolute;
  width: 300px;
  height: 300px;
  transition: transform 3s ease;
}

.ruleta-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.backgroundYellow {
  background-color: #EFC206;
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding: 10px 20px;
  transform: translateX(-50%);
  font-size: 16px;
  width: 100px;
}

.spinning {
  animation: girar 3s linear infinite;
}

.puntos {
  font-family: 'Jersey 10 Charted';
  font-size: xx-large;
  color: white;
  margin-top: 20px;

  position: absolute;
  background-color: black;
}

.arrowLeft {
  color: #FFF;
  background-color: #EFC206;
  margin-left: 20px;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;

}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
