<body>   
    <div id="container">
        <div *ngFor="let mensaje of mensajes | async">
            <p>
            <span *ngIf="esMensajePropio(mensaje.emisor); else otroUsuario">{{ 'Yo' }}</span>
            <ng-template #otroUsuario>
                {{ mensaje.emisor }}
            </ng-template>
            : {{ mensaje.mensaje }} - 
            <span *ngIf="mensaje.hora">{{ mensaje.hora.toDate() | date:'medium' }}</span>
            <span *ngIf="!mensaje.hora">Fecha no disponible</span>
            </p>
        </div>

        <!-- Agregar input y botón para enviar mensaje -->
        <input type="text" [(ngModel)]="nuevoMensaje" placeholder="Escribe tu mensaje aquí">
        <button (click)="enviarMensaje()">Enviar</button>
    </div>
</body>