<body>
  <div class="botonLogout">  
    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white"
                style="margin-right: 2.5rem; margin-top: 2.5rem;" id="backgroundYellow" (click)="logout()">Cerrar Sesión</button>
  </div>

  
<!-- Encabezado con imagen y título -->
<div class="container-fluid text-white py-5">
    <div class="row align-items-center">
      <div class="col-md-6 text-center">
        <img src="../../../assets/SWLogo.png" alt="Imagen" class="img-fluid imgTitle">
      </div>
      <div class="col-md-6 text-center">
        <h1 id="customLetterTitles">Sala de Juegos</h1>
      </div>

    </div>
  </div>

<!-- cards -->
  <div class="container mt-5 ">
    <div class="row containerCards">
      <div class="card text-white col-md-4 mb-4 sizeCards">
        <img src="../../../assets/bb8.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title text-center customCardTitles">¿Jugamos?</h5>
        </div>
      </div>
      <div class="card text-white col-md-4 mb-4 sizeCards" (click)="goAboutMe()">
        <img src="../../../assets/leia.jpeg" class="card-img" alt="...">
        <div class="card-img-overlay" >
          <h5 class="card-title text-center customCardTitles">Sobre Mi</h5>  
        </div>
      </div>
      <div class="card text-white col-md-4 mb-4 sizeCards">
        <img src="../../../assets/naves.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title text-center customCardTitles">(Muy Pronto)</h5>
        </div>
      </div>
    </div>
  </div>

  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 footer" id="backgroundYellow">
    <div class="text-white mb-3 mb-md-0">
      Bárbara M. © 2024. All rights reserved ~
    </div>

  <div>
      <a href="mailto:barbaramiamolinari@gmail.com" class="text-white me-4">
          <i class="fab fa-google">
              <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/></svg> -->
          </i>
      </a>
      <a href="https://www.linkedin.com/in/barbara-molinari/" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>

  </div>

</body>

