<body>
  <header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <img id="logo" src="../../../assets/SWLogo.png" alt="logo halloween" >
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <span class="navbar-text">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link">Bienvenido/a <b class="currentUser">{{currentUser}}</b> !</a>
                  </li>
                    <li class="nav-item" >
                      <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundYellow"
                      (click)="goAboutMe()">¿Quién Soy?</button>
                    </li>
                    <li class="nav-item">                    
                      <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundYellow"
                      (click)="goKeyboard()">TecladPrueba</button>
                    </li>
                    <li class="nav-item" >
                      <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundYellow"
                      (click)="goChatroom()">Sala de chat</button>
                    </li>
                    <li class="nav-item">                    
                      <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundYellow"
                      (click)="logout()">Cerrar Sesión</button>
                    </li>
                  </ul>
            </span>
          </div>
        </div>
    </nav>
</header>

<!-- cards -->
  <div class="container mt-5 ">
    <div class="row containerCards">
      <div class="card text-white col-md-6 mb-6 sizeCards" (click)="goHangman()">
        <img src="../../../assets/bb8.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title text-center customCardTitles">Ahorcado</h5>
        </div>
      </div>
      <div class="card text-white col-md-6 mb-6 sizeCards" (click)="goGreaterLesser()">
        <img src="../../../assets/leia.jpeg" class="card-img" alt="...">
        <div class="card-img-overlay" >
          <h5 class="card-title text-center customCardTitles">Mayor o Menor</h5>  
        </div>
      </div>
    </div>
    <div class="row containerCards">
      <div class="card text-white col-md-6 mb-6 sizeCards" (click)="goQuizGame()">
        <img src="../../../assets/mandalorian.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title text-center customCardTitles">Preguntados</h5>
        </div>
      </div>
      <div class="card text-white col-md-6 mb-6 sizeCards"(click)="goRoulette()">
        <img src="../../../assets/naves.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title text-center customCardTitles">Ruleta</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Falso footer -->
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 footer">
    <div class="text-white mb-3 mb-md-0">
      Bárbara M. © 2024. All rights reserved ~
    </div>

  <div>
      <a href="mailto:barbaramiamolinari@gmail.com" class="text-white me-4">
          <i class="fab fa-google"></i>
      </a>
      <a href="https://www.linkedin.com/in/barbara-molinari/" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>

  </div>

</body>

