.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #000;
}
.h-custom {
height: calc(100% - 73px);
}

#backgroundYellow {
    background-color: #EFC206;
}

#customLetter {
    font-family: 'Jersey 10 Charted';
    font-size: xx-large;
    color: white;
}

/* .vh-100 {
    background-color: #000;
} */

.vh-100 {
    background-image: url('../../../assets/SWBackground.jpg');
}

@media (max-width: 450px) {
.h-custom {
height: 50%;
}
}