<body>

  <button class="arrowLeft" (click)="goHome()">
    <i class="fas fa-arrow-left"></i>
  </button>
  
    <div class="ahorcado">

      <!-- Cuerpo -->

      <div class="ahorcado-cuerpo">
        <div class="partes-contenedor">
          <div *ngFor="let parte of partesCuerpo; let i = index" class="parte" [class.visible]="i < intentos">
            <img *ngIf="parte" [src]="getImageUrl(i)" alt="Parte del cuerpo">
          </div>
        </div>
      </div>


      <!-- Palabra -->
      <div class="palabra">
              <div *ngFor="let letra of palabraSeleccionada.split(''); let i = index" class="letra">
                {{ letrasAdivinadas[i] ? letra : '_' }}
              </div>
      </div>
      
      <!-- Teclado -->
      <div class="teclado">
        <div *ngFor="let letra of letrasDisponibles" (click)="seleccionarLetra(letra)" class="tecla" [class.seleccionada]="letrasSeleccionadas.has(letra)">
          {{ letra }}
        </div>
      </div>

      <div class="puntos">
        Puntos: {{ acumuladorPuntos }}
      </div>
      
      <!-- Reiniciar -->
      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-md text-white backgroundYellow" (click)="reiniciarJuego()">Reiniciar Juego</button>
    </div>
</body>